*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.WEB_APP_VARIANT/demoW4/src/test/
/app/src/androidTest/java/com/example/weatherapp2/ExampleInstrumentedTest.java
/app/src/test/java/com/example/weatherapp2/ExampleUnitTest.java
/app/proguard-rules.pro
